
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.supersami.foregroundservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
        <application>
        <meta-data android:name=".notification_channel_name" android:value="Sticky Title"/>
        <meta-data android:name=".notification_channel_description" android:value="Sticky Description."/>
        <meta-data android:name=".notification_color" android:resource="@color/blue"/>
        <service android:foregroundServiceType="microphone" android:name=".ForegroundService"/>
        <service android:foregroundServiceType="microphone" android:name=".ForegroundServiceTask"/>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        </application>
</manifest>
